#body-7 {
    // #video {
    //     position: fixed; right: 0; top: -50px;
    //     min-width: 1200px; min-height: 600px;
    //     width: 1920px; height: auto; z-index: 200;
    //     background-size: cover;
    //     transition: all 0.75s;
    // }
    overflow: hidden;
    // display: none;

    #advert {
        position: fixed; left: 0; top: -50px;
        // width: 1800px; height: 80%;
        width: auto; height: auto; z-index: 100;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #video7 {
        transition: all 0.75s;
    }

    .video-big {
        position: fixed; right: 0; top: -50px;
        width: 1920px; height: auto; z-index: 200;
        background-size: cover;
        transition: all 0.25s;
    }
    .video-small {
        position: fixed; right: 0; top: -50px;
        width: 1366px; height: auto; z-index: 200 !important;
        background-size: cover;
    }
}