#animation-4 {

    position: fixed;
    bottom: 0;
    width: 100vw;

    animation-name: slide-up-90;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    // .container {
        
    // }
    .content-bar {
        height: 60px;
        display: flex;
        align-items: center;
        background: $black100;
        

        .eurosport {
            background: $red;
            height: 60px;
            width: 360px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 40px;

            .logo {
                opacity: 0;
                width: 180px;

                animation-name: appears-from-right;
                animation-duration: 0.5s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
            }
        }

        .text-container {

            overflow: hidden;

            .text {
                height: 60px;
                width: 1560px;
                display: flex;
                align-items: center;

                * {
                    display: inline-block;
                }

                animation-name: crawl-to-left;
                animation-duration: 21s;
                animation-fill-mode: forwards;
                animation-timing-function: linear;

                p {
                    color: #fff;
                    font-size: 22px;
                    text-transform: uppercase;
                    transform: translateY(2px);
                    white-space: nowrap;
                }
    
                .img-box {
                    width: 50px;
                    margin: 0 30px;

                    img {
                        width: 25px;
                    }
                }
            }

            
        }
    }

    .footer {
        height: 90px;
        background: $black75;
        border-top: 2px solid #fff;
    }
}