#animation-4 {

    position: fixed;
    bottom: 0;
    width: 100vw;

    animation-name: slide-up-90;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    // .container {
        
    // }
    .content-bar {
        height: 60px;
        display: flex;
        align-items: center;
        background: $black100;

        .eurosport {
                background: $red;
                height: 60px;
                width: 360px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 40px;

            svg {
                width: 238px;
                // position: fixed;
                // top: 84px;
                // right: 142px;
        
                path {
                    width: 180px;
                    animation-name: chrome-bg-roll;
                    animation-delay: 450ms;
                    animation-duration: 1000ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        #star {
            opacity: 0;
            animation-name: start-slide;
            animation-delay: 100ms;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
        }
    
        #u {
            animation-name: morph-u;
            animation-duration: 2000ms;
            animation-fill-mode: forwards;
        }
    
        #r {
            animation-name: morph-r;
            animation-delay: 700ms;
            animation-duration: 1000ms;
            animation-fill-mode: forwards;
        }
    
        #t {
            animation-name: morph-t;
            animation-delay: 1400ms;
            animation-duration: 1000ms;
            animation-fill-mode: forwards;
        }
        

        // .eurosport {
        //     background: $red;
        //     height: 60px;
        //     width: 360px;
        //     display: flex;
        //     justify-content: flex-end;
        //     align-items: center;
        //     padding-right: 40px;

        //     .logo {
        //         opacity: 0;
        //         width: 180px;

        //         animation-name: appears-from-right;
        //         animation-duration: 0.5s;
        //         animation-delay: 1s;
        //         animation-fill-mode: forwards;
        //     }
        // }

        .text-container {

            overflow: hidden;

            .text {
                height: 60px;
                width: 1560px;
                display: flex;
                align-items: center;

                * {
                    display: inline-block;
                }

                animation-name: crawl-to-left;
                animation-duration: 21s;
                animation-fill-mode: forwards;
                animation-timing-function: linear;

                p {
                    color: #fff;
                    font-size: 22px;
                    text-transform: uppercase;
                    transform: translateY(2px);
                    white-space: nowrap;
                }
    
                .img-box {
                    width: 50px;
                    margin: 0 30px;

                    img {
                        width: 25px;
                    }
                }
            }

            
        }
    }

    .footer {
        height: 90px;
        background: $black75;
        border-top: 2px solid #fff;
    }
}