#animation-6 {
    position: fixed;
    bottom: 95px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    .container {
        width: 0;
        text-align: center;
        overflow: hidden;

        animation-name: container-expend;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
    
            * {
                overflow: hidden;
                display: inline-block;
    
                span {
                    display: inline-block;
                    opacity: 0;
                    animation-name: slide-from-bottom;
                    animation-duration: 0.5s;
                    animation-delay: 2.3s;
                    animation-fill-mode: forwards;
                }
            }
        }

        .title-2, .title-3 {
            height: 40px;
            color: #fff;

            span {
                font-weight: 400;
            }
        }
    
        .title-3 {
            background: $blue;
        }
    
        .title-1 {
            height: 50px;
            color: $black100;
            background: #fff;

            animation-name: title-expend;
            animation-duration: 600ms;
            animation-delay: 2.08s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.24,.71,.75,.74);
        }
    
        .title-2 {
            background: $black75;

            animation-name: title-expend;
            animation-duration: 600ms;
            animation-delay: 2.2s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.24,.71,.75,.74);
        }
    }
}