@font-face {
    font-family: 'ESP Circular TT';
    font-style: normal;
    font-weight: 400;
    src: local('ESP Circular TT'), url('../medias/fonts/ESPCircularTT-Medium.ttf') format('truetype');
}

$black50: rgba(0,0,0,0.5);
$black75: rgba(0,0,0,0.75);
$black100: rgba(0,0,0,1);
$white: rgba(255,255,255,0.85);
$red: rgba(213,0,50,1);
$blue: rgba(3,147,197,1);

* {
    margin: 0;
    padding: 0;
    font-family: 'ESP Circular TT', 'Ubuntu';
}

*, *:before, *:after {
    box-sizing: border-box;
}

#summary {
    font-family: monospace;
    font-size: 28px;
    
    margin: 100px;

    ul li {
        margin: 20px;
        list-style-type: square;

        a {
            color: $black50;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 0.5s;
        }

        a:hover {
            color: $black75;
            text-decoration: underline;
        }
    }
}

#body-0 {
    // background-image: url("../medias/01/bg02.jpg");
    // background-image: url("../medias/04/bg01.jpg");
    // background-image: url("../medias/06/bg01.jpg");
    background-image: url("../medias/05/bg02.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}



.hidden {
    display: none !important;
}

#video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

@import "animations";

@import "animation1";

@import "animation4";

@import "animation5";

@import "animation6";