@font-face {
    font-family: 'ESP Circular TT';
    font-style: normal;
    font-weight: 400;
    src: local('ESP Circular TT'), url('../medias/fonts/ESPCircularTT-Medium.ttf') format('truetype');
}

$black50: rgba(0,0,0,0.5);
$black75: rgba(0,0,0,0.75);
$black100: rgba(0,0,0,1);
$white: rgba(255,255,255,0.85);
$red: rgba(213,0,50,1);

* {
    margin: 0;
    padding: 0;
    font-family: 'ESP Circular TT', 'Ubuntu';
}

*, *:before, *:after {
    box-sizing: border-box;
}

#summary {
    font-family: monospace;
    font-size: 28px;
    
    margin: 100px;

    ul li {
        margin: 20px;
        list-style-type: square;

        a {
            color: $black50;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 0.5s;
        }

        a:hover {
            color: $black75;
            text-decoration: underline;
        }
    }
}

body {
    // background-image: url("../medias/01/bg02.jpg");
    // background-image: url("../medias/04/bg01.jpg");
    // background-position: bottom;
    // background-repeat: no-repeat;
    // width: 100vw;
    // height: 100vh;
}



.hidden {
    display: none !important;
}

#video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

@import "animations";

@import "animation1";

#animation-2 {

    position: fixed;
    bottom: 0;
    width: 100vw;

    animation-name: slide-up-90;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    // .container {
        
    // }
    .content-bar {
        height: 60px;
        display: flex;
        // justify-content: center;
        align-items: center;
        background: $black100;
        

        .eurosport {
            background: $red;
            height: 60px;
            width: 360px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 40px;

            .logo {
                opacity: 0;
                width: 180px;

                animation-name: appears-from-right;
                animation-duration: 0.5s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
            }
        }

        .text-container {

            overflow: hidden;

            .text {
                height: 60px;
                width: 1560px;
                display: flex;
                align-items: center;

                * {
                    display: inline-block;
                }

                animation-name: crawl-to-left;
                animation-duration: 21s;
                animation-fill-mode: forwards;
                animation-timing-function: linear;

                p {
                    color: #fff;
                    font-size: 22px;
                    text-transform: uppercase;
                    transform: translateY(2px);
                    white-space: nowrap;
                }
    
                .img-box {
                    width: 50px;
                    margin: 0 30px;

                    img {
                        width: 25px;
                    }
                }
            }

            
        }
    }

    .footer {
        height: 90px;
        background: $black75;
        border-top: 2px solid #fff;
    }
}